#switcher {
    background-color: #dddddd;
    border-radius: 0 0 0 2px;
    height: 100px;
    position: fixed;
    right: -200px;
    top: 20%;
    width: 200px;
    z-index: 99999;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

#switcher.switch_show {
    right: 0;
}

#switcher li {
    background-color: #000000;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 20px;
    margin: 15px;
    width: 20px;
}

#switcher li.switcher-icon {
    background-color: #dddddd;
    border-radius: 2px 0 0 2px;
    font-size: 16px;
    height: 40px;
    left: -55px;
    line-height: 2.4;
    position: absolute;
    text-align: center;
    top: -15px;
    width: 40px;
}

#switcher li.switcher-icon i.fa {
    color: #d94343;
    -webkit-animation: rotation 5s linear 2s infinite alternate;
    animation: rotation 5s linear 2s infinite alternate;
}


/* Standard syntax */

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(320deg);
        transform: rotate(320deg)
    }
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(320deg);
        transform: rotate(320deg)
    }
}

#switcher li#dodger_blue {
    background-color: #2196f3;
}

#switcher li#san_marino {
    background-color: #3f51b5;
}

#switcher li#persian_green {
    background-color: #009688;
}

#switcher li#wild_strawberry {
    background-color: #FE499A;
}

#switcher li#pear {
    background-color: #cddc39;
}

#switcher li#roman_coffee {
    background-color: #795548;
}

#switcher li#martiniqueapprox {
    background-color: #303251;
}

#switcher li#cinnabarapprox {
    background-color: #DB421D;
}

.dodger_blue .header-text-area {
    background-color: #2196f3;
}

.dodger_blue .page-title h2 {
    color: #2196f3;
}

.dodger_blue .check.alignleft {
    color: #2196f3;
}

.dodger_blue .mainmenu ul.nav.navbar-nav li a {
    color: #2196f3;
}

.dodger_blue .mainmenu ul.nav.navbar-nav li.active a,
.dodger_blue .mainmenu ul.nav.navbar-nav li a:hover {
    color: #ffffff;
}

.dodger_blue .about-photo:hover .about-desc h2 {
    color: #2196f3;
}

.dodger_blue .about-photo:hover .about-desc .title {
    color: #2196f3;
}

.dodger_blue .share-menu a {
    color: #2196f3;
}

.dodger_blue .project-details a::after {
    background-color: #2196f3;
}

.dodger_blue .project-details a {
    color: #2196f3;
}

.dodger_blue .battn {
    color: #2196f3;
}

.dodger_blue .battn:hover {
    background-color: #2196f3;
    border-color: #2196f3;
    color: #fff;
}

.dodger_blue .single-process.active .prosess-icon {
    background-color: #2196f3;
    border-color: #2196f3;
}

.dodger_blue .prosess-icon {
    border-color: #2196f3;
    color: #2196f3;
}

.dodger_blue .single-process.active h3 {
    color: #2196f3;
}

.dodger_blue .process-center-image img {
    border-color: #2196f3;
}

.dodger_blue .red-bg {
    background-color: #2196f3;
}

.dodger_blue .menu-icon {
    background-color: #2196f3;
}

.dodger_blue .skill-text h3 {
    color: #2196f3;
}

.dodger_blue .exp-battn .active a {
    background-color: #2196f3;
    border-color: #2196f3;
    color: #fff;
}

.dodger_blue .exp-battn a {
    border-color: #2196f3;
    color: #2196f3;
}

.dodger_blue .exp-details h3 {
    color: #2196f3;
}

.dodger_blue .single-exp::before {
    background-color: #2196f3;
}

.dodger_blue .single-exp .exp-no {
    border-color: #2196f3;
    color: #2196f3;
}

.dodger_blue .single-exp:hover .exp-no {
    background-color: #2196f3;
    color: #fff;
}

.dodger_blue .red-bg .page-title h2 {
    color: #ffffff;
}

.dodger_blue .skill-area .skillbar .count > span {
    color: #2196f3;
}

.dodger_blue .client-content h3 {
    color: #2196f3;
}

.dodger_blue .client-area .owl-dot.active {
    background-color: #2196f3;
}

.dodger_blue .home-single-blog .home-blog-image::after {
    background-color: #2196f3;
}

.dodger_blue .home-single-blog a.read-more {
    color: #2196f3;
}

.dodger_blue .date {
    color: #2196f3;
}

.dodger_blue .home-single-blog h3:hover {
    color: #2196f3;
}

.dodger_blue .profile-area ul.nav-pills li.active a .single-profile .profile-icon,
.dodger_blue .profile-area ul.nav-pills li.active a .single-profile h3 {
    color: #2196f3;
}

.dodger_blue .battn.red-battn {
    background-color: #1e89de;
    border-color: #1e89de;
    color: #ffffff;
}

.dodger_blue .battn.red-battn:hover {
    background-color: #ffffff;
    color: #1e89de;
}

.dodger_blue .contact-info h3 {
    color: #2196f3;
}

.dodger_blue .social-menu a {
    border-color: #2196f3;
    color: #2196f3;
}

.dodger_blue .social-menu a:hover {
    background-color: #2196f3;
    color: #ffffff;
}

.dodger_blue .copyright-area a {
    color: #2196f3;
}

.dodger_blue .home-single-blog a.read-more:hover {
    color: #ffffff;
}

.dodger_blue .share-menu a:hover {
    color: #363636;
}

.dodger_blue .blog-image::after {
    background-color: #2196f3;
}

.dodger_blue .blog-title h4 {
    color: #2196f3;
}

.dodger_blue .blog-title h2 {
    color: #2196f3;
}

.dodger_blue .comment-heading {
    border-color: #2196f3;
}

.dodger_blue .comment-heading h2 {
    color: #2196f3;
}

.dodger_blue .blog-comment-title h3 {
    color: #2196f3;
}

.dodger_blue .comment-area .reply {
    border-color: #2196f3;
    color: #2196f3;
}

.dodger_blue .comment-form button:hover,
.comment-area .reply:hover {
    background-color: #2196f3;
    color: #ffffff;
}

.dodger_blue .comment-form input,
.dodger_blue .comment-form textarea {
    border-color: #2196f3;
    color: #2196f3;
}

.dodger_blue .comment-form button {
    border-color: #2196f3;
    color: #2196f3;
}

.dodger_blue #scrollUp:hover {
    background-color: #2196f3
}

.dodger_blue #switcher li.switcher-icon i.fa {
    color: #2196f3
}

.san_marino .header-text-area {
    background-color: #3f51b5;
}

.san_marino .page-title h2 {
    color: #3f51b5;
}

.san_marino .check.alignleft {
    color: #3f51b5;
}

.san_marino .mainmenu ul.nav.navbar-nav li a {
    color: #3f51b5;
}

.san_marino .mainmenu ul.nav.navbar-nav li.active a,
.san_marino .mainmenu ul.nav.navbar-nav li a:hover {
    color: #ffffff;
}

.san_marino .about-photo:hover .about-desc h2 {
    color: #3f51b5;
}

.san_marino .about-photo:hover .about-desc .title {
    color: #3f51b5;
}

.san_marino .share-menu a {
    color: #3f51b5;
}

.san_marino .project-details a::after {
    background-color: #3f51b5;
}

.san_marino .project-details a {
    color: #3f51b5;
}

.san_marino .battn {
    color: #3f51b5;
}

.san_marino .battn:hover {
    background-color: #3f51b5;
    border-color: #3f51b5;
    color: #fff;
}

.san_marino .single-process.active .prosess-icon {
    background-color: #3f51b5;
    border-color: #3f51b5;
}

.san_marino .prosess-icon {
    border-color: #3f51b5;
    color: #3f51b5;
}

.san_marino .single-process.active h3 {
    color: #3f51b5;
}

.san_marino .process-center-image img {
    border-color: #3f51b5;
}

.san_marino .red-bg {
    background-color: #3f51b5;
}

.san_marino .menu-icon {
    background-color: #3f51b5;
}

.san_marino .skill-text h3 {
    color: #3f51b5;
}

.san_marino .exp-battn .active a {
    background-color: #3f51b5;
    border-color: #3f51b5;
    color: #fff;
}

.san_marino .exp-battn a {
    border-color: #3f51b5;
    color: #3f51b5;
}

.san_marino .exp-details h3 {
    color: #3f51b5;
}

.san_marino .single-exp::before {
    background-color: #3f51b5;
}

.san_marino .single-exp .exp-no {
    border-color: #3f51b5;
    color: #3f51b5;
}

.san_marino .single-exp:hover .exp-no {
    background-color: #3f51b5;
    color: #fff;
}

.san_marino .red-bg .page-title h2 {
    color: #ffffff;
}

.san_marino .skill-area .skillbar .count > span {
    color: #3f51b5;
}

.san_marino .client-content h3 {
    color: #3f51b5;
}

.san_marino .client-area .owl-dot.active {
    background-color: #3f51b5;
}

.san_marino .home-single-blog .home-blog-image::after {
    background-color: #3f51b5;
}

.san_marino .home-single-blog a.read-more {
    color: #3f51b5;
}

.san_marino .date {
    color: #3f51b5;
}

.san_marino .home-single-blog h3:hover {
    color: #3f51b5;
}

.san_marino .profile-area ul.nav-pills li.active a .single-profile .profile-icon,
.san_marino .profile-area ul.nav-pills li.active a .single-profile h3 {
    color: #3f51b5;
}

.san_marino .battn.red-battn {
    background-color: #3f51b5;
    border-color: #3f51b5;
    color: #ffffff;
}

.san_marino .battn.red-battn:hover {
    background-color: #ffffff;
    color: #3f51b5;
}

.san_marino .contact-info h3 {
    color: #3f51b5;
}

.san_marino .social-menu a {
    border-color: #3f51b5;
    color: #3f51b5;
}

.san_marino .social-menu a:hover {
    background-color: #3f51b5;
    color: #ffffff;
}

.san_marino .copyright-area a {
    color: #3f51b5;
}

.san_marino .home-single-blog a.read-more:hover {
    color: #ffffff;
}

.san_marino .share-menu a:hover {
    color: #363636;
}

.san_marino .blog-image::after {
    background-color: #3f51b5;
}

.san_marino .blog-title h4 {
    color: #3f51b5;
}

.san_marino .blog-title h2 {
    color: #3f51b5;
}

.san_marino .comment-heading {
    border-color: #3f51b5;
}

.san_marino .comment-heading h2 {
    color: #3f51b5;
}

.san_marino .blog-comment-title h3 {
    color: #3f51b5;
}

.san_marino .comment-area .reply {
    border-color: #3f51b5;
    color: #3f51b5;
}

.san_marino .comment-form button:hover,
.comment-area .reply:hover {
    background-color: #3f51b5;
    color: #ffffff;
}

.san_marino .comment-form input,
.san_marino .comment-form textarea {
    border-color: #3f51b5;
    color: #3f51b5;
}

.san_marino .comment-form button {
    border-color: #3f51b5;
    color: #3f51b5;
}

.san_marino #scrollUp:hover {
    background-color: #3f51b5;
}

.san_marino #switcher li.switcher-icon i.fa {
    color: #3f51b5
}

.persian_green .header-text-area {
    background-color: #009688;
}

.persian_green .page-title h2 {
    color: #009688;
}

.persian_green .check.alignleft {
    color: #009688;
}

.persian_green .mainmenu ul.nav.navbar-nav li a {
    color: #009688;
}

.persian_green .mainmenu ul.nav.navbar-nav li.active a,
.persian_green .mainmenu ul.nav.navbar-nav li a:hover {
    color: #ffffff;
}

.persian_green .about-photo:hover .about-desc h2 {
    color: #009688;
}

.persian_green .about-photo:hover .about-desc .title {
    color: #009688;
}

.persian_green .share-menu a {
    color: #009688;
}

.persian_green .project-details a::after {
    background-color: #009688;
}

.persian_green .project-details a {
    color: #009688;
}

.persian_green .battn {
    color: #009688;
}

.persian_green .battn:hover {
    background-color: #009688;
    border-color: #009688;
    color: #fff;
}

.persian_green .single-process.active .prosess-icon {
    background-color: #009688;
    border-color: #009688;
}

.persian_green .prosess-icon {
    border-color: #009688;
    color: #009688;
}

.persian_green .single-process.active h3 {
    color: #009688;
}

.persian_green .process-center-image img {
    border-color: #009688;
}

.persian_green .red-bg {
    background-color: #009688;
}

.persian_green .menu-icon {
    background-color: #009688;
}

.persian_green .skill-text h3 {
    color: #009688;
}

.persian_green .exp-battn .active a {
    background-color: #009688;
    border-color: #009688;
    color: #fff;
}

.persian_green .exp-battn a {
    border-color: #009688;
    color: #009688;
}

.persian_green .exp-details h3 {
    color: #009688;
}

.persian_green .single-exp::before {
    background-color: #009688;
}

.persian_green .single-exp .exp-no {
    border-color: #009688;
    color: #009688;
}

.persian_green .single-exp:hover .exp-no {
    background-color: #009688;
    color: #fff;
}

.persian_green .red-bg .page-title h2 {
    color: #ffffff;
}

.persian_green .skill-area .skillbar .count > span {
    color: #009688;
}

.persian_green .client-content h3 {
    color: #009688;
}

.persian_green .client-area .owl-dot.active {
    background-color: #009688;
}

.persian_green .home-single-blog .home-blog-image::after {
    background-color: #009688;
}

.persian_green .home-single-blog a.read-more {
    color: #009688;
}

.persian_green .date {
    color: #009688;
}

.persian_green .home-single-blog h3:hover {
    color: #009688;
}

.persian_green .profile-area ul.nav-pills li.active a .single-profile .profile-icon,
.persian_green .profile-area ul.nav-pills li.active a .single-profile h3 {
    color: #009688;
}

.persian_green .battn.red-battn {
    background-color: #009688;
    border-color: #009688;
    color: #ffffff;
}

.persian_green .battn.red-battn:hover {
    background-color: #ffffff;
    color: #009688;
}

.persian_green .contact-info h3 {
    color: #009688;
}

.persian_green .social-menu a {
    border-color: #009688;
    color: #009688;
}

.persian_green .social-menu a:hover {
    background-color: #009688;
    color: #ffffff;
}

.persian_green .copyright-area a {
    color: #009688;
}

.persian_green .home-single-blog a.read-more:hover {
    color: #ffffff;
}

.persian_green .share-menu a:hover {
    color: #363636;
}

.persian_green .blog-image::after {
    background-color: #009688;
}

.persian_green .blog-title h4 {
    color: #009688;
}

.persian_green .blog-title h2 {
    color: #009688;
}

.persian_green .comment-heading {
    border-color: #009688;
}

.persian_green .comment-heading h2 {
    color: #009688;
}

.persian_green .blog-comment-title h3 {
    color: #009688;
}

.persian_green .comment-area .reply {
    border-color: #009688;
    color: #009688;
}

.persian_green .comment-form button:hover,
.comment-area .reply:hover {
    background-color: #009688;
    color: #ffffff;
}

.persian_green .comment-form input,
.persian_green .comment-form textarea {
    border-color: #009688;
    color: #009688;
}

.persian_green .comment-form button {
    border-color: #009688;
    color: #009688;
}

.persian_green #scrollUp:hover {
    background-color: #009688
}
.persian_green #switcher li.switcher-icon i.fa  {
    color: #009688;
}
.wild_strawberry .header-text-area {
    background-color: #FE499A;
}

.wild_strawberry .page-title h2 {
    color: #FE499A;
}

.wild_strawberry .check.alignleft {
    color: #FE499A;
}

.wild_strawberry .mainmenu ul.nav.navbar-nav li a {
    color: #FE499A;
}

.wild_strawberry .mainmenu ul.nav.navbar-nav li.active a,
.wild_strawberry .mainmenu ul.nav.navbar-nav li a:hover {
    color: #ffffff;
}

.wild_strawberry .about-photo:hover .about-desc h2 {
    color: #FE499A;
}

.wild_strawberry .about-photo:hover .about-desc .title {
    color: #FE499A;
}

.wild_strawberry .share-menu a {
    color: #FE499A;
}

.wild_strawberry .project-details a::after {
    background-color: #FE499A;
}

.wild_strawberry .project-details a {
    color: #FE499A;
}

.wild_strawberry .battn {
    color: #FE499A;
}

.wild_strawberry .battn:hover {
    background-color: #FE499A;
    border-color: #FE499A;
    color: #fff;
}

.wild_strawberry .single-process.active .prosess-icon {
    background-color: #FE499A;
    border-color: #FE499A;
}

.wild_strawberry .prosess-icon {
    border-color: #FE499A;
    color: #FE499A;
}

.wild_strawberry .single-process.active h3 {
    color: #FE499A;
}

.wild_strawberry .process-center-image img {
    border-color: #FE499A;
}

.wild_strawberry .red-bg {
    background-color: #FE499A;
}

.wild_strawberry .menu-icon {
    background-color: #FE499A;
}

.wild_strawberry .skill-text h3 {
    color: #FE499A;
}

.wild_strawberry .exp-battn .active a {
    background-color: #FE499A;
    border-color: #FE499A;
    color: #fff;
}

.wild_strawberry .exp-battn a {
    border-color: #FE499A;
    color: #FE499A;
}

.wild_strawberry .exp-details h3 {
    color: #FE499A;
}

.wild_strawberry .single-exp::before {
    background-color: #FE499A;
}

.wild_strawberry .single-exp .exp-no {
    border-color: #FE499A;
    color: #FE499A;
}

.wild_strawberry .single-exp:hover .exp-no {
    background-color: #FE499A;
    color: #fff;
}

.wild_strawberry .red-bg .page-title h2 {
    color: #ffffff;
}

.wild_strawberry .skill-area .skillbar .count > span {
    color: #FE499A;
}

.wild_strawberry .client-content h3 {
    color: #FE499A;
}

.wild_strawberry .client-area .owl-dot.active {
    background-color: #FE499A;
}

.wild_strawberry .home-single-blog .home-blog-image::after {
    background-color: #FE499A;
}

.wild_strawberry .home-single-blog a.read-more {
    color: #FE499A;
}

.wild_strawberry .date {
    color: #FE499A;
}

.wild_strawberry .home-single-blog h3:hover {
    color: #FE499A;
}

.wild_strawberry .profile-area ul.nav-pills li.active a .single-profile .profile-icon,
.wild_strawberry .profile-area ul.nav-pills li.active a .single-profile h3 {
    color: #FE499A;
}

.wild_strawberry .battn.red-battn {
    background-color: #FE499A;
    border-color: #FE499A;
    color: #ffffff;
}

.wild_strawberry .battn.red-battn:hover {
    background-color: #ffffff;
    color: #FE499A;
}

.wild_strawberry .contact-info h3 {
    color: #FE499A;
}

.wild_strawberry .social-menu a {
    border-color: #FE499A;
    color: #FE499A;
}

.wild_strawberry .social-menu a:hover {
    background-color: #FE499A;
    color: #ffffff;
}

.wild_strawberry .copyright-area a {
    color: #FE499A;
}

.wild_strawberry .home-single-blog a.read-more:hover {
    color: #ffffff;
}

.wild_strawberry .share-menu a:hover {
    color: #363636;
}

.wild_strawberry .blog-image::after {
    background-color: #FE499A;
}

.wild_strawberry .blog-title h4 {
    color: #FE499A;
}

.wild_strawberry .blog-title h2 {
    color: #FE499A;
}

.wild_strawberry .comment-heading {
    border-color: #FE499A;
}

.wild_strawberry .comment-heading h2 {
    color: #FE499A;
}

.wild_strawberry .blog-comment-title h3 {
    color: #FE499A;
}

.wild_strawberry .comment-area .reply {
    border-color: #FE499A;
    color: #FE499A;
}

.wild_strawberry .comment-form button:hover,
.comment-area .reply:hover {
    background-color: #FE499A;
    color: #ffffff;
}

.wild_strawberry .comment-form input,
.wild_strawberry .comment-form textarea {
    border-color: #FE499A;
    color: #FE499A;
}

.wild_strawberry .comment-form button {
    border-color: #FE499A;
    color: #FE499A;
}

.wild_strawberry #scrollUp:hover {
    background-color: #FE499A;
}
.wild_strawberry #switcher li.switcher-icon i.fa {
    color: #FE499A;
}
.pear .header-text-area {
    background-color: #cddc39;
}

.pear .page-title h2 {
    color: #cddc39;
}

.pear .check.alignleft {
    color: #cddc39;
}

.pear .mainmenu ul.nav.navbar-nav li a {
    color: #cddc39;
}

.pear .mainmenu ul.nav.navbar-nav li.active a,
.pear .mainmenu ul.nav.navbar-nav li a:hover {
    color: #ffffff;
}

.pear .about-photo:hover .about-desc h2 {
    color: #cddc39;
}

.pear .about-photo:hover .about-desc .title {
    color: #cddc39;
}

.pear .share-menu a {
    color: #cddc39;
}

.pear .project-details a::after {
    background-color: #cddc39;
}

.pear .project-details a {
    color: #cddc39;
}

.pear .battn {
    color: #cddc39;
}

.pear .battn:hover {
    background-color: #cddc39;
    border-color: #cddc39;
    color: #fff;
}

.pear .single-process.active .prosess-icon {
    background-color: #cddc39;
    border-color: #cddc39;
}

.pear .prosess-icon {
    border-color: #cddc39;
    color: #cddc39;
}

.pear .single-process.active h3 {
    color: #cddc39;
}

.pear .process-center-image img {
    border-color: #cddc39;
}

.pear .red-bg {
    background-color: #cddc39;
}

.pear .menu-icon {
    background-color: #cddc39;
}

.pear .skill-text h3 {
    color: #cddc39;
}

.pear .exp-battn .active a {
    background-color: #cddc39;
    border-color: #cddc39;
    color: #fff;
}

.pear .exp-battn a {
    border-color: #cddc39;
    color: #cddc39;
}

.pear .exp-details h3 {
    color: #cddc39;
}

.pear .single-exp::before {
    background-color: #cddc39;
}

.pear .single-exp .exp-no {
    border-color: #cddc39;
    color: #cddc39;
}

.pear .single-exp:hover .exp-no {
    background-color: #cddc39;
    color: #fff;
}

.pear .red-bg .page-title h2 {
    color: #ffffff;
}

.pear .skill-area .skillbar .count > span {
    color: #cddc39;
}

.pear .client-content h3 {
    color: #cddc39;
}

.pear .client-area .owl-dot.active {
    background-color: #cddc39;
}

.pear .home-single-blog .home-blog-image::after {
    background-color: #cddc39;
}

.pear .home-single-blog a.read-more {
    color: #cddc39;
}

.pear .date {
    color: #cddc39;
}

.pear .home-single-blog h3:hover {
    color: #cddc39;
}

.pear .profile-area ul.nav-pills li.active a .single-profile .profile-icon,
.pear .profile-area ul.nav-pills li.active a .single-profile h3 {
    color: #cddc39;
}

.pear .battn.red-battn {
    background-color: #cddc39;
    border-color: #cddc39;
    color: #ffffff;
}

.pear .battn.red-battn:hover {
    background-color: #ffffff;
    color: #cddc39;
}

.pear .contact-info h3 {
    color: #cddc39;
}

.pear .social-menu a {
    border-color: #cddc39;
    color: #cddc39;
}

.pear .social-menu a:hover {
    background-color: #cddc39;
    color: #ffffff;
}

.pear .copyright-area a {
    color: #cddc39;
}

.pear .home-single-blog a.read-more:hover {
    color: #ffffff;
}

.pear .share-menu a:hover {
    color: #363636;
}

.pear .blog-image::after {
    background-color: #cddc39;
}

.pear .blog-title h4 {
    color: #cddc39;
}

.pear .blog-title h2 {
    color: #cddc39;
}

.pear .comment-heading {
    border-color: #cddc39;
}

.pear .comment-heading h2 {
    color: #cddc39;
}

.pear .blog-comment-title h3 {
    color: #cddc39;
}

.pear .comment-area .reply {
    border-color: #cddc39;
    color: #cddc39;
}

.pear .comment-form button:hover,
.comment-area .reply:hover {
    background-color: #cddc39;
    color: #ffffff;
}

.pear .comment-form input,
.pear .comment-form textarea {
    border-color: #cddc39;
    color: #cddc39;
}

.pear .comment-form button {
    border-color: #cddc39;
    color: #cddc39;
}

.pear #scrollUp:hover {
    background-color: #cddc39;
}
.pear #switcher li.switcher-icon i.fa {
    color: #cddc39;
}
.roman_coffee .header-text-area {
    background-color: #795548;
}

.roman_coffee .page-title h2 {
    color: #795548;
}

.roman_coffee .check.alignleft {
    color: #795548;
}

.roman_coffee .mainmenu ul.nav.navbar-nav li a {
    color: #795548;
}

.roman_coffee .mainmenu ul.nav.navbar-nav li.active a,
.roman_coffee .mainmenu ul.nav.navbar-nav li a:hover {
    color: #ffffff;
}

.roman_coffee .about-photo:hover .about-desc h2 {
    color: #795548;
}

.roman_coffee .about-photo:hover .about-desc .title {
    color: #795548;
}

.roman_coffee .share-menu a {
    color: #795548;
}

.roman_coffee .project-details a::after {
    background-color: #795548;
}

.roman_coffee .project-details a {
    color: #795548;
}

.roman_coffee .battn {
    color: #795548;
}

.roman_coffee .battn:hover {
    background-color: #795548;
    border-color: #795548;
    color: #fff;
}

.roman_coffee .single-process.active .prosess-icon {
    background-color: #795548;
    border-color: #795548;
}

.roman_coffee .prosess-icon {
    border-color: #795548;
    color: #795548;
}

.roman_coffee .single-process.active h3 {
    color: #795548;
}

.roman_coffee .process-center-image img {
    border-color: #795548;
}

.roman_coffee .red-bg {
    background-color: #795548;
}

.roman_coffee .menu-icon {
    background-color: #795548;
}

.roman_coffee .skill-text h3 {
    color: #795548;
}

.roman_coffee .exp-battn .active a {
    background-color: #795548;
    border-color: #795548;
    color: #fff;
}

.roman_coffee .exp-battn a {
    border-color: #795548;
    color: #795548;
}

.roman_coffee .exp-details h3 {
    color: #795548;
}

.roman_coffee .single-exp::before {
    background-color: #795548;
}

.roman_coffee .single-exp .exp-no {
    border-color: #795548;
    color: #795548;
}

.roman_coffee .single-exp:hover .exp-no {
    background-color: #795548;
    color: #fff;
}

.roman_coffee .red-bg .page-title h2 {
    color: #ffffff;
}

.roman_coffee .skill-area .skillbar .count > span {
    color: #795548;
}

.roman_coffee .client-content h3 {
    color: #795548;
}

.roman_coffee .client-area .owl-dot.active {
    background-color: #795548;
}

.roman_coffee .home-single-blog .home-blog-image::after {
    background-color: #795548;
}

.roman_coffee .home-single-blog a.read-more {
    color: #795548;
}

.roman_coffee .date {
    color: #795548;
}

.roman_coffee .home-single-blog h3:hover {
    color: #795548;
}

.roman_coffee .profile-area ul.nav-pills li.active a .single-profile .profile-icon,
.roman_coffee .profile-area ul.nav-pills li.active a .single-profile h3 {
    color: #795548;
}

.roman_coffee .battn.red-battn {
    background-color: #795548;
    border-color: #795548;
    color: #ffffff;
}

.roman_coffee .battn.red-battn:hover {
    background-color: #ffffff;
    color: #795548;
}

.roman_coffee .contact-info h3 {
    color: #795548;
}

.roman_coffee .social-menu a {
    border-color: #795548;
    color: #795548;
}

.roman_coffee .social-menu a:hover {
    background-color: #795548;
    color: #ffffff;
}

.roman_coffee .copyright-area a {
    color: #795548;
}

.roman_coffee .home-single-blog a.read-more:hover {
    color: #ffffff;
}

.roman_coffee .share-menu a:hover {
    color: #363636;
}

.roman_coffee .blog-image::after {
    background-color: #795548;
}

.roman_coffee .blog-title h4 {
    color: #795548;
}

.roman_coffee .blog-title h2 {
    color: #795548;
}

.roman_coffee .comment-heading {
    border-color: #795548;
}

.roman_coffee .comment-heading h2 {
    color: #795548;
}

.roman_coffee .blog-comment-title h3 {
    color: #795548;
}

.roman_coffee .comment-area .reply {
    border-color: #795548;
    color: #795548;
}

.roman_coffee .comment-form button:hover,
.comment-area .reply:hover {
    background-color: #795548;
    color: #ffffff;
}

.roman_coffee .comment-form input,
.roman_coffee .comment-form textarea {
    border-color: #795548;
    color: #795548;
}

.roman_coffee .comment-form button {
    border-color: #795548;
    color: #795548;
}
.roman_coffee #scrollUp:hover {
    background-color: #795548
}
.roman_coffee #switcher li.switcher-icon i.fa {
    color: #795548;
}
.martiniqueapprox .header-text-area {
    background-color: #65449E;
}

.martiniqueapprox .page-title h2 {
    color: #65449E;
}

.martiniqueapprox .check.alignleft {
    color: #65449E;
}

.martiniqueapprox .mainmenu ul.nav.navbar-nav li a {
    color: #65449E;
}

.martiniqueapprox .mainmenu ul.nav.navbar-nav li.active a,
.martiniqueapprox .mainmenu ul.nav.navbar-nav li a:hover {
    color: #ffffff;
}

.martiniqueapprox .about-photo:hover .about-desc h2 {
    color: #65449E;
}

.martiniqueapprox .about-photo:hover .about-desc .title {
    color: #65449E;
}

.martiniqueapprox .share-menu a {
    color: #65449E;
}

.martiniqueapprox .project-details a::after {
    background-color: #65449E;
}

.martiniqueapprox .project-details a {
    color: #65449E;
}

.martiniqueapprox .battn {
    color: #65449E;
}

.martiniqueapprox .battn:hover {
    background-color: #65449E;
    border-color: #65449E;
    color: #fff;
}

.martiniqueapprox .single-process.active .prosess-icon {
    background-color: #65449E;
    border-color: #65449E;
}

.martiniqueapprox .prosess-icon {
    border-color: #65449E;
    color: #65449E;
}

.martiniqueapprox .single-process.active h3 {
    color: #65449E;
}

.martiniqueapprox .process-center-image img {
    border-color: #65449E;
}

.martiniqueapprox .red-bg {
    background-color: #65449E;
}

.martiniqueapprox .menu-icon {
    background-color: #65449E;
}

.martiniqueapprox .skill-text h3 {
    color: #65449E;
}

.martiniqueapprox .exp-battn .active a {
    background-color: #65449E;
    border-color: #65449E;
    color: #fff;
}

.martiniqueapprox .exp-battn a {
    border-color: #65449E;
    color: #65449E;
}

.martiniqueapprox .exp-details h3 {
    color: #65449E;
}

.martiniqueapprox .single-exp::before {
    background-color: #65449E;
}

.martiniqueapprox .single-exp .exp-no {
    border-color: #65449E;
    color: #65449E;
}

.martiniqueapprox .single-exp:hover .exp-no {
    background-color: #65449E;
    color: #fff;
}

.martiniqueapprox .red-bg .page-title h2 {
    color: #ffffff;
}

.martiniqueapprox .skill-area .skillbar .count > span {
    color: #65449E;
}

.martiniqueapprox .client-content h3 {
    color: #65449E;
}

.martiniqueapprox .client-area .owl-dot.active {
    background-color: #65449E;
}

.martiniqueapprox .home-single-blog .home-blog-image::after {
    background-color: #65449E;
}

.martiniqueapprox .home-single-blog a.read-more {
    color: #65449E;
}

.martiniqueapprox .date {
    color: #65449E;
}

.martiniqueapprox .home-single-blog h3:hover {
    color: #65449E;
}

.martiniqueapprox .profile-area ul.nav-pills li.active a .single-profile .profile-icon,
.martiniqueapprox .profile-area ul.nav-pills li.active a .single-profile h3 {
    color: #65449E;
}

.martiniqueapprox .battn.red-battn {
    background-color: #65449E;
    border-color: #65449E;
    color: #ffffff;
}

.martiniqueapprox .battn.red-battn:hover {
    background-color: #ffffff;
    color: #65449E;
}

.martiniqueapprox .contact-info h3 {
    color: #65449E;
}

.martiniqueapprox .social-menu a {
    border-color: #65449E;
    color: #65449E;
}

.martiniqueapprox .social-menu a:hover {
    background-color: #65449E;
    color: #ffffff;
}

.martiniqueapprox .copyright-area a {
    color: #65449E;
}

.martiniqueapprox .home-single-blog a.read-more:hover {
    color: #ffffff;
}

.martiniqueapprox .share-menu a:hover {
    color: #363636;
}

.martiniqueapprox .blog-image::after {
    background-color: #65449E;
}

.martiniqueapprox .blog-title h4 {
    color: #65449E;
}

.martiniqueapprox .blog-title h2 {
    color: #65449E;
}

.martiniqueapprox .comment-heading {
    border-color: #65449E;
}

.martiniqueapprox .comment-heading h2 {
    color: #65449E;
}

.martiniqueapprox .blog-comment-title h3 {
    color: #65449E;
}

.martiniqueapprox .comment-area .reply {
    border-color: #65449E;
    color: #65449E;
}

.martiniqueapprox .comment-form button:hover,
.comment-area .reply:hover {
    background-color: #65449E;
    color: #ffffff;
}

.martiniqueapprox .comment-form input,
.martiniqueapprox .comment-form textarea {
    border-color: #65449E;
    color: #65449E;
}

.martiniqueapprox .comment-form button {
    border-color: #65449E;
    color: #65449E;
}

.martiniqueapprox #scrollUp:hover {
    background-color: #65449E
}
.martiniqueapprox #switcher li.switcher-icon i.fa {
    color: #65449E;
}
.cinnabarapprox .header-text-area {
    background-color: #DB421D;
}

.cinnabarapprox .page-title h2 {
    color: #DB421D;
}

.cinnabarapprox .check.alignleft {
    color: #DB421D;
}

.cinnabarapprox .mainmenu ul.nav.navbar-nav li a {
    color: #DB421D;
}

.cinnabarapprox .mainmenu ul.nav.navbar-nav li.active a,
.cinnabarapprox .mainmenu ul.nav.navbar-nav li a:hover {
    color: #ffffff;
}

.cinnabarapprox .about-photo:hover .about-desc h2 {
    color: #DB421D;
}

.cinnabarapprox .about-photo:hover .about-desc .title {
    color: #DB421D;
}

.cinnabarapprox .share-menu a {
    color: #DB421D;
}

.cinnabarapprox .project-details a::after {
    background-color: #DB421D;
}

.cinnabarapprox .project-details a {
    color: #DB421D;
}

.cinnabarapprox .battn {
    color: #DB421D;
}

.cinnabarapprox .battn:hover {
    background-color: #DB421D;
    border-color: #DB421D;
    color: #fff;
}

.cinnabarapprox .single-process.active .prosess-icon {
    background-color: #DB421D;
    border-color: #DB421D;
}

.cinnabarapprox .prosess-icon {
    border-color: #DB421D;
    color: #DB421D;
}

.cinnabarapprox .single-process.active h3 {
    color: #DB421D;
}

.cinnabarapprox .process-center-image img {
    border-color: #DB421D;
}

.cinnabarapprox .red-bg {
    background-color: #DB421D;
}

.cinnabarapprox .menu-icon {
    background-color: #DB421D;
}

.cinnabarapprox .skill-text h3 {
    color: #DB421D;
}

.cinnabarapprox .exp-battn .active a {
    background-color: #DB421D;
    border-color: #DB421D;
    color: #fff;
}

.cinnabarapprox .exp-battn a {
    border-color: #DB421D;
    color: #DB421D;
}

.cinnabarapprox .exp-details h3 {
    color: #DB421D;
}

.cinnabarapprox .single-exp::before {
    background-color: #DB421D;
}

.cinnabarapprox .single-exp .exp-no {
    border-color: #DB421D;
    color: #DB421D;
}

.cinnabarapprox .single-exp:hover .exp-no {
    background-color: #DB421D;
    color: #fff;
}

.cinnabarapprox .red-bg .page-title h2 {
    color: #ffffff;
}

.cinnabarapprox .skill-area .skillbar .count > span {
    color: #DB421D;
}

.cinnabarapprox .client-content h3 {
    color: #DB421D;
}

.cinnabarapprox .client-area .owl-dot.active {
    background-color: #DB421D;
}

.cinnabarapprox .home-single-blog .home-blog-image::after {
    background-color: #DB421D;
}

.cinnabarapprox .home-single-blog a.read-more {
    color: #DB421D;
}

.cinnabarapprox .date {
    color: #DB421D;
}

.cinnabarapprox .home-single-blog h3:hover {
    color: #DB421D;
}

.cinnabarapprox .profile-area ul.nav-pills li.active a .single-profile .profile-icon,
.cinnabarapprox .profile-area ul.nav-pills li.active a .single-profile h3 {
    color: #DB421D;
}

.cinnabarapprox .battn.red-battn {
    background-color: #DB421D;
    border-color: #DB421D;
    color: #ffffff;
}

.cinnabarapprox .battn.red-battn:hover {
    background-color: #ffffff;
    color: #DB421D;
}

.cinnabarapprox .contact-info h3 {
    color: #DB421D;
}

.cinnabarapprox .social-menu a {
    border-color: #DB421D;
    color: #DB421D;
}

.cinnabarapprox .social-menu a:hover {
    background-color: #DB421D;
    color: #ffffff;
}

.cinnabarapprox .copyright-area a {
    color: #DB421D;
}

.cinnabarapprox .home-single-blog a.read-more:hover {
    color: #ffffff;
}

.cinnabarapprox .share-menu a:hover {
    color: #363636;
}

.cinnabarapprox .blog-image::after {
    background-color: #DB421D;
}

.cinnabarapprox .blog-title h4 {
    color: #DB421D;
}

.cinnabarapprox .blog-title h2 {
    color: #DB421D;
}

.cinnabarapprox .comment-heading {
    border-color: #DB421D;
}

.cinnabarapprox .comment-heading h2 {
    color: #DB421D;
}

.cinnabarapprox .blog-comment-title h3 {
    color: #DB421D;
}

.cinnabarapprox .comment-area .reply {
    border-color: #DB421D;
    color: #DB421D;
}

.cinnabarapprox .comment-form button:hover,
.comment-area .reply:hover {
    background-color: #DB421D;
    color: #ffffff;
}

.cinnabarapprox .comment-form input,
.cinnabarapprox .comment-form textarea {
    border-color: #DB421D;
    color: #DB421D;
}

.cinnabarapprox .comment-form button {
    border-color: #DB421D;
    color: #DB421D;
}

.cinnabarapprox #scrollUp:hover {
    background-color: #DB421D
}
.cinnabarapprox #switcher li.switcher-icon i.fa {
    color: #DB421D
}